body {
  background-color: #222;
  color: whitesmoke;
}

.container-fluid { padding: 0; }

.side-menu {
  background-color: #ececec;
  color: #222;
  height: 100%;
  left: 0;
  list-style: none;
  margin: 0;
  overflow-y: scroll;
  padding-left: 0;
  width: 170px;
  height: 100%;
  position: absolute;
  -webkit-user-select: none;
  vertical-align: top;
  z-index: 2;
}

.side-menu.collapsed { width: 0; }

.list-item {
  font-size: 80%;
  padding: 5px 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.list-item.active {
  background-color: #afbbd2;
  color: white;
}

.list-item:hover {
  background-color: lightgray;
  cursor: pointer;
}

.list-item .octicon {
  font-size: 95%;
  margin-right: 6px;
}

.main-view {
  position: absolute;
  height: 100%;
  width: 100%;
  padding-left: 170px;
  z-index: 1;
}

.main-view.full { padding-left: 0; }
