body {
  background-color: #222;
  color: whitesmoke;
}

.container-fluid { padding: 0; }

.scroll-menu-wrapper {
  position: absolute;
  width: 170px;
}

.scroll-menu-wrapper > .scroll-pane {
  left: 160px;
  z-index: 3;
}

.scroll-menu-wrapper > .scroll-pane > .nano-slider { background: rgba(0, 0, 0, .8); }

.scroll-menu-wrapper.collapsed { width: 0; }

.repository-list {
  background-color: #ececec;
  color: #222;
  height: 100%;
  left: 0;
  list-style: none;
  margin: 0;
  overflow-y: scroll;
  padding-left: 0;
  height: 100%;
  position: absolute;
  -webkit-user-select: none;
  vertical-align: top;
  z-index: 3;
}

.list-item {
  margin-right: 10px;
  font-size: 80%;
  padding: 5px 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.list-item:hover {
  background-color: lightgray;
  cursor: pointer;
}

.list-item.active {
  background-color: #afbbd2;
  color: white;
}

.list-item .octicon {
  font-size: 95%;
  margin-right: 5px;
}

#default-webview,
#webview-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  padding-left: 170px;
}

#default-webview { z-index: 2; }
#webview-wrapper { z-index: 1; }

#default-webview.full,
#webview-wrapper.full { padding-left: 0; }

#default-webview.invisible { visibility: hidden; }

#launch-logo {
  position: absolute;
  top: 25%; /* 上から半分 */
  left: 38%; /* 左から半分 */
  text-align: center;
  z-index: 1;
}

.launch-icon {
  display: block;
  font-size: 2000%;
  margin-bottom: 8px;
}
.launch-text {
  color: lightgray;
  display: block;
  font-size: 150%;
  -webkit-user-select: none;
}
.launch-text:hover { cursor: default; }

.create-token-link {
  color: skyblue;
  float: right;
  font-size: 90%;
}

.input-err-msg {
  color: #f3120e;
}

#pr-issue-search-box {
  background-color: #222;
  font-size: 200%;
  color: white;
  height: 70px;
  left: 35%;
  opacity: 0.9;
  position: absolute;
  top: 40%;
  width: 300px;
  z-index: 999;
}
#pr-issue-search-box:focus { border-color: transparent; }

#search-black-screen {
  background-color: #222;
  position: absolute;
  opacity: 0.3;
  z-index: 998;
  width: 100%;
  height: 100%;
}
