body {
  background-color: #222;
  color: whitesmoke;

  height: 100%;
  overflow: hidden;
  width: 100%;
}

.main-view {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
}

.scroll-menu-wrapper {
  width: 170px;
  transition: width 0.15s ease;
}

.scroll-menu-wrapper.collapsed { width: 0; }

.scroll-menu-wrapper > .scroll-pane {
  left: 160px;
  z-index: 3;
}

.scroll-menu-wrapper > .scroll-pane > .nano-slider { background: rgba(0, 0, 0, .8); }

.repository-list {
  background-color: #2e333b;
  color: #b3b9bf;
  height: 100%;
  left: 0;
  list-style: none;
  margin: 0;
  outline: 0!important;
  overflow-y: scroll;
  padding-left: 0;
  position: absolute;
  -webkit-user-select: none;
  vertical-align: top;
  z-index: 3;
}

.list-item {
  margin-right: 10px;
  font-size: 95%;
  padding: 5px 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.list-item:hover { cursor: default; }

.list-item.active {
  background-color: #002427;
  color: white;
}

.list-item .octicon {
  font-size: 95%;
  margin-right: 5px;
}

#webview-wrapper {
  flex: 1;
  height: 100%;
}

#launch-logo {
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 15%;
  width: 320px;
  z-index: 1;
}

.launch-icon {
  display: block;
  font-size: 2000%;
  margin-bottom: 8px;
}
.launch-text {
  color: lightgray;
  display: block;
  font-size: 150%;
  -webkit-user-select: none;
}
.launch-text:hover { cursor: default; }

.create-token-link {
  color: skyblue;
  float: right;
  font-size: 90%;
}

.input-err-msg {
  color: #f3120e;
}

#pr-issue-search-box {
  background-color: #222;
  bottom: 0;
  color: white;
  display: block;
  font-size: 200%;
  height: 70px;
  left: 0;
  margin: auto;
  opacity: 0.9;
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
  z-index: 999;
}
#pr-issue-search-box:focus { border-color: transparent; }

#black-screen {
  background-color: #222;
  position: absolute;
  opacity: 0.3;
  z-index: 998;
  width: 100%;
  height: 100%;
}

#cheatsheet {
  border-radius: 5px;
  background-color: #222;
  bottom: 0;
  color: white;
  display: block;
  height: 400px;
  padding: 10px 30px;
  left: 0;
  margin: auto;
  opacity: 0.9;
  position: absolute;
  right: 0;
  top: 0;
  width: 60%;
  z-index: 999;
}

.cheatsheet-title {
  text-align: center;
  font-size: 150%;
  margin-bottom: 20px;
}

.shortcut { margin-bottom: 10px; }

.key {
  background-color: white;
  border-radius: 3px;
  color: black;
  display: inline-block;
  font-size: 90%;
  margin-left: 5px;
  padding: 1px 3px;
  text-align: center;
  min-width: 19px;
}
