body {
  background-color: #ededed;
  padding: 20px;
}

.pref-item { margin-bottom: 20px; }

.pref-checkbox:hover,
.pref-label:hover { cursor: pointer; }

.pref-label { font-weight: normal; }

.create-token-link {
  float: right;
  font-size: 90%;
}

.pref-annotation-msg {
  color: #D91E18;
  font-size: 90%;
}

