body {
  background-color: #222;
  color: whitesmoke;
}

.container-fluid { padding: 0; }

.side-menu {
  background-color: whitesmoke;
  color: #222;
  height: 100%;
  left: 0;
  list-style: none;
  margin: 0;
  overflow-y: scroll;
  padding-left: 0;
  position: absolute;
}

.list-item {
  font-size: 80%;
  padding: 5px 10px;
}

.list-item:hover {
  background-color: lightgray;
  cursor: pointer;
}
