body {
  background-color: #222;
  color: whitesmoke;
}

.container-fluid { padding: 0; }

.side-menu {
  background-color: whitesmoke;
  color: #222;
  height: 100%;
  left: 0;
  list-style: none;
  margin: 0;
  overflow-y: scroll;
  padding-left: 0;
  width: 155px;
  height: 100%;
  position: absolute;
  vertical-align: top;
  z-index: 2;
}

.side-menu.collapsed { width: 0; }

.list-item {
  font-size: 80%;
  padding: 5px 10px;
}

.list-item.active {
  background-color: #afbbd2;
  color: whitesmoke;
  font-weight: bold;
}

.list-item:hover {
  background-color: lightgray;
  cursor: pointer;
}

.main-view {
  position: absolute;
  height: 100%;
  width: 100%;
  padding-left: 155px;
  z-index: 1;
}

.main-view.full { padding-left: 0; }
